<%- include('./partials/headerLogueado') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<div class="contenedor">
				<div class="formulario">
				<form action="./ingresa" method="POST">
					
					<label class="form-label" for="">E-mail:</label>
					<input class="form-input" name="email" value=""type="email" placeholder="tinistoessel@gmail.com">
					
					
					<label class="form-label" for="">Contraseña:</label>
					<input class="form-input" name="password" value="" type="text" placeholder="*******">
					
					<label class="form-label" for="">Recordame</label>
					<input type="checkbox" name="rememberme" >
					<div class="button">
					<button type="submit" class="boton"> Iniciar sesion</button>
					</div>
				</form>
				</div>
				<div>
					<div style="width:100%;height:0;padding-bottom:71%;position:relative;"><iframe src="https://giphy.com/embed/pZwQz0w8bYcZW" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/beauty-makeup-lips-pZwQz0w8bYcZW"></a></p>
				</div>
			</div>
		</div>
	</div>


<%- include('./partials/footer') %> 	