<%- include('./partials/headerDeslogueado') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<div class="formulario">
				<form action="./miPerfil" method="GET">
					<label class="form-label" for="">E-mail:</label>
					<input class="form-input" name="email" value=""type="email" placeholder="tinistoessel@gmail.com">
		
					<label class="form-label" for="">Contraseña:</label>
					<input class="form-input" name="contrasena" value="" type="text" placeholder="*******">
					<button type="submit" class="boton"> Iniciar sesion</button>
				</form>
			</div>
			


<%- include('./partials/footer') %> 	