<%- include('./partials/headerDeslogueado') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			</h2>
			<div class="formulario">
	
				<label class="form-label" for="">E-mail:</label>
				<input class="form-input" method="GET" type="email" placeholder="tinistoessel@gmail.com">
	
				<label class="form-label" for="">Contraseña:</label>
				<input class="form-input" method="GET" type="text" placeholder="*******">
				<button> <a href="/miperfil">Iniciar sesion</a></button>
			</div>
	


<%- include('./partials/footer') %> 	