<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2> 
				
			</div>
			
			<!-- Show the "ultimos" products -->
			<div class="form">
				<form action="" method="GET">
					
					<label for="" class="form-label">Nombre del producto</label>
					<input type="text" class="form-input" placeholder="Insertar nombre" name="Nombre del producto">

					<label  class="form-label" for="start">Fecha de Creacion</label>
					<input  class="form-input" type="date" id="start" name="trip-start"
       				value="2018-07-22"
       				min="1970-01-01" max="2021-12-31">


					<label for="" class="form-label">Agrega tu descripcion del producto</label>
					<p><textarea name="comentario"  class="form-input" rows="5" cols="50">Escribe aquí tu comentario: </textarea></p>
					
					<label for="" class="form-label">Inserta iamgen de tu producto</label>
					<input type="file" class="form-input" name="Imagen">
					
					<div class="button">
					<button type="submit" class="boton"> Publicar Producto</button>
					</div>
				</form>
				
				
			</div>


			<img class= "gift" src="images/publicidad.jpg" alt="giftcard">
		</div>
	</div>

<%- include('./partials/footer') %> 	