<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2> 
				
			</div>
			
			<!-- Show the "ultimos" products -->
			<div class="form">
				<form action="" method="GET">
					<label for="" class="form-label">Selecciona el tipo de producto: </label>
					<p class="tipoDeProducto">
						<select name="tipos de productos"  class="form-input">
						  <option>Bases</option>
						  <option>Delineadores</option>
						  <option>Labiales</option>
						  <option>Paletas y sombras</option>
						  <option>polvos y rubores</option>
						</select>
					 </p>

					<label for="" class="form-label">Nombre del producto</label>
					<input type="text" class="form-input" placeholder="Insertar nombre" name="Nombre del producto">

					<label for="" class="form-label">Especifica la marca del producto</label>
					<input type="text" class="form-input" placeholder="Marca del Producto" name="Marca del Producto">

					<label for="" class="form-label">Inserta iamgen de tu producto</label>
					<input type="file" class="form-input" name="Imagen">
					
					<label for="" class="form-label">Agrega tu descripcion del producto</label>
					<p><textarea name="comentario"  class="form-input" rows="5" cols="50">Escribe aquí tu comentario: </textarea></p>
					 <button type="submit" class="boton"> Publicar Producto</button>
				</form>
				
				
			</div>


			<img class= "gift" src="images/publicidad.jpg" alt="giftcard">

<%- include('./partials/footer') %> 	