<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2> 
				
			</div>
			
			<!-- Show the "ultimos" products -->
			<div class="form">
				<form action="/agregarProducto" method="POST" enctype="multipart/form-data">
					
					<label for="" class="form-label">Nombre del producto</label>
					<input type="text" class="form-input" placeholder="Insertar nombre" name="name">

					<label  class="form-label" for="start">Fecha de Creacion</label>
					<input  class="form-input" type="date" id="start" name="fecha"
       				value="2018-07-22" min="1970-01-01" max="2021-12-31">

					<label for="" class="form-label">Agrega tu descripcion del producto</label>
					<p><textarea name="description"  class="form-input" rows="5" cols="50">Escribe aquí tu descripción: </textarea></p>
					
					<label for="" class="form-label">Inserta imagen de tu producto</label>
					<input type="file" class="form-input" name="img">
					
					<div class="mb-3">
						<label class="form-label"> Genero</label>
						<select name="form-control" name="type_id" id="">
							<% for (let i=0; i<type_product.length; i++){ %>
							<option value="<%= type_product[i].id%>">
								<%= type_product[i].type_product%>
							</option>
							<%}%>
						</select>
					</div>

					<div class="button">
					<button type="submit" class="boton"> Publicar Producto</button>
					</div>
				</form>
				
				
			</div>


			<img class= "gift" src="images/publicidad.jpg" alt="giftcard">
		</div>
	</div>

<%- include('./partials/footer') %> 	