<%- include('./partials/headerLogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="form">
				<form action="" method="GET">
					<label for=""></label>
					<input type="text" class="form-input" placeholder="" name="">
				</form>
			</div>


<%- include('./partials/footer') %> 	