<%- include('./partials/headerLogueado') %>

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title">Valen Daquino
						<a href="profile-edit.html">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="/images/products/pestañas.jpg" alt="mascara de pestañas">
						</figure>
						<article class="product-box_data">
							<h2>MAC IN EXTREME DIMENSION WATERPROOF LASH</h2>
							<p>Las pestañas adquieren un magnífico tamaño, estructura y movimiento con In Extreme Dimension Waterproof, la ligera mascara cremosa de MAC que satura de la raíz a la punta, ahora en una fórmula a prueba de agua.</p>
							<p>Comentarios: 12</p>
						</article>  
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/diorpolvo.jpg" alt="polvo dior">
						</figure>
						<article class="product-box_data">
							<h2>DIORSKIN MINERAL NUDE LUMINIZER
								</h2>
							<p>El polvo Diorskin Nude Luminizer ilumina instantáneamente la tez con un brillo iridiscente y le da a la cara un brillo multidimensional. </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/lipgloss.jpg" alt="lipgloss">
						</figure>
						<article class="product-box_data">
							<h2>MAC LIPGLASS LIP GLOSS</h2>
							<p>Un gloss único disponible en variedad de colores capaces de crear un acabado de alto brillo tipo vidrio o un toque lustroso sutil.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/macpolvobrillo.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2> MAC MINERALIZE SKINFINISH</h2>
							<p>Un lujoso polvo facial, suavemente refinado, aterciopelado, con acabado radiante. Difumina de manera estratégica para resaltar los puntos altos del rostro o aplica en todo el rostro para lograr una luminosidad natural en la piel. Incluye nuestro 77-Mineral Complex y vitamina E.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/lipstickestelauderpeg.jpeg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>MiNY ENVY LIPSTICK NUDES SET ESTEE LAUDER</h2>
							<p>Un color que tiene el poder de transformar tus labios, tu look, tu actitud. </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/eyeliner.jpg" alt="Eyeliner">
						</figure>
						<article class="product-box_data">
							<h2>YVES SAINT LAURENT COUTURE LIQUID EYELINER</h2>
							<p>Couture Eye Liner es un delineador líquido premium de Yves Saint Laurent que te permite lograr un delineado perfecto y preciso.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/sombrasojos.jpg" alt="sombra">
						</figure>
						<article class="product-box_data">
							<h2>BOBBY BROWN MODERN SYMPHONY EYE SHADOW PALETTE</h2>
							<p>Una paleta lista para la juerga de ocho sombras de ojos ultra-mezclables. </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.html">
						<figure class="product-box_image">
							<img src="images/products/diorskinrubor.jpg" alt="rubor">
						</figure>
						<article class="product-box_data">
							<h2>DIORSKIN ROUGE BLUSH</h2>
							<p>Rouge Blush es el único colorete de la Maison Dior que aporta a las mejillas un color intenso y ultrapigmentado, garantizando una larga duración.</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Mis productos -->


<%- include('./partials/footer') %> 	