<%- include('./partials/headerLogueado') %>


	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="formulario">
				<form action="./miPerfil" method="GET">
					<label class="form-label" for="">Nombre:</label>
					<input class="form-input" name="nombre" value=""  type="text" placeholder="Pepito...">
	
					<label class="form-label" for="">Nombre de usuario:</label>
					<input class="form-input" name="usuario" value=""  type="text" placeholder="Gomez...">
	
					<label class="form-label" for="">Sitio web:</label>
					<input class="form-input" name="web" value=""  type="text" placeholder="sitio web">
	
					<label class="form-label" class="form-label" for="">Email:</label>
					<input class="form-input" name="email" value=""  type="email" placeholder="email">
	
					<label class="form-label" for="">Numero de telefono:</label>
					<input class="form-input" name="telefono" value=""  type="number" placeholder="">
					
					<button type="submit" class="boton"> Enviar</button>
	</form>
	</div>
					
	
	
<%- include('./partials/footer') %> 	