<%- include('./partials/headerDeslogueado') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">

			</h2>
		<div class="formulario">

			<label class="form-label" for="">Nombre:</label>
			<input class="form-input" method="GET" type="text" placeholder="Pepito...">

			<label class="form-label" for="">Apellido:</label>
			<input class="form-input" method="GET" type="text" placeholder="Gomez...">

			<label class="form-label" for="">E-mail:</label>
			<input class="form-input" method="GET" type="email" placeholder="pepito_gomez@gmail.com">

			<label class="form-label" class="form-label" for="">Nombre de Usuario:</label>
			<input class="form-input" method="GET" type="text" placeholder="pepito123">

			<label class="form-label" for="">Contraseña:</label>
			<input class="form-input" method="GET" type="text" placeholder="*******">

			<label class="form-label" for="">Confirmar contraseña:</label>
			<input class="form-input" method="GET" type="text" placeholder="*******">
		</div>

	<%- include('./partials/footer') %> 	