/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --yellow:   rosybrown;
  --dark-blue:#ea899a;
  --light-blue:#ea899a;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
}

body {
  font-family: var(--base-font-family);
  font-weight: 300;
  background-color: black;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
 
 }
figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  
}
.img-producto{
  width: 100%;
  height: 300px;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}


/*====== Main Header ======*/
.main-header {
  padding: 1px ;
  background-color: black;
}
.main-header .row{
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 0px;
}


.main-header_home-link,
.main-header_credit-link {
  display: block;
}

.main-header_credit-link {
  font-size: 1.5em;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  font-size: small;


  
  
}

.search-form_input {
  background:transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 12px 8px 12px 32px;
  min-width: 500px;
  color: white;
  }
  
   

.search-form_button {
  position: absolute;
  right: 2px;
  height: 90%;
  
  border: none;
  border-left: solid 1px white;
  color: var(--gray);
  cursor: pointer;
  color:white;
  background-color: black;
  size: 25px;
}



.fa-search{
color:white;

   }

/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 5px;
  display: none;
  color: white;
}

.left-navbar,
.right-navbar {
  font-size: 1.5em;
}

.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
}

.logout:hover{
  color:rgb(56, 42, 55);
}

.left-navbar a,
.right-navbar a ,
.right-navbar button{
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}
.right-navbar button{
  background: black;
  border: none;
  color: white;
  text-shadow: #fff 0 0 10px;
 
  
}
.right-navbar button a{
  font-family:  var(--base-font-family);
}



/*====== Banner ======*/
.banner {
 /* background-image: url(/images/products/makeupbanner2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px; 
  background-color:  #FFE4E1 ;
 
}
.banner img{
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
}

/*====== perfilusuarios ======*/
.caracteristicasperfil{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-left: 10px;
  font-size: small;
  background-color:lightpink


}
/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.products-title {
  display: flex;
  color: white;
  font-family: Copperplate;
  justify-content: center;
  font-size: 28px;
  background-color: black;
  
}


.product-box {
  background-color: #fff0f5;
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;

}

.product-box a {
  display: block;
  font-family: arial;
  font-size: small;
  text-align: center;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
  
}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
  justify-content: center;
}

.product-box_data h2 {
  
  font-weight: 300;
  margin: 0;
  font-family:'Copperplate';
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
  
}

.product-box_data p {
  font-size: 1.5em;
  width: 100%;
  color: var(--gray);
  margin: 0;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center
}

.product-box:hover {
  box-shadow: 0 0 5px #ea899a;
}
.product-box:hover h2 {
  color: black;
  text-shadow: 2px 2px 2px rgb(56, 42, 55);
}
.product-box_data:hover h2 {
  color: black;
}
.product-box:hover p {
  height: 36px;
  margin-top: 15px;
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
}

/*====== Footer ======*/
.main-footer {
  background-color:black;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-data {
  text-align: center;
  
}

.footer-data i {
  color: var(--light-blue);
  font-size: 3.5em;
}

.footer-data h2 {
  color: white;
  font-size: 2em;
  font-weight: 400;
 
}

.footer-data p {
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}


/*====== Product Detail ======*/
.product-detail {
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.borrar{
  display: flex;
  justify-content: center;

}
.borrar .boton{
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;

}
.product-detail .product-detail-description{
  padding-top: 70px;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}
.search{
  font-size: 24px;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
  text-shadow:  #FFE4E1 0 0 10px;
  margin-top: 20px;
}
.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article{
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data{
  width: 85%;
  
}
.comments p{
  font-size: 1.5em;
  margin-top: 0;
}
.comments .user{
  font-size: 1.7em;
}

/*====== Formularios ======*/
.form-label {
  display: inline-block;
  font-size: 1.8em;
  margin: 10px 0;
  color: aliceblue;
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.alert{
  width: 500px;
  align-items: center;
  justify-content: center;
}
.alert h3{
  text-align: center;
  margin-left:8px;
}

.form-input {
  display: flex;
  width: 90%;

  height: 45px;
  margin-bottom: 10px;
  font-size: 1.5em;

  border: none;
  border: solid 2px black;
  padding: 0 15px;
  font-family: 'Times New Roman', Times, serif;
 }

.boton{
  color: black;
  background: rosybrown;
  border-radius: 8px;
  border: 6px solid rosybrown;
  width: 30%;
  height: 50%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;;
  
  
}
.button{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

  /*separadores*/
.separadores{
  display:flex;
    color: white;
    font-family:Copperplate ;
    justify-content: center;
    font-size: 30px;
    background-color:black;
  
}
.separadores h2{
  font-size: 26px;
}
.separador{
  display:flex;
  background-color:black;
}

.error{
  color: rgb(209, 0, 0);
  font-size: 1.4em;
}

textarea.form-input {
  min-height: 140px;
  resize: vertical;
  padding: 15px;
  
}

/*====== Profile ======*/
.info-usuario{
  border-bottom: 1px gray;
  font-size: 16px;
  background: white;
  padding: 1%;
}

.foto-perfil{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
.caja{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.btn{
  background-color:  #ea899a ;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.btn:hover{
  background-color: #DB7093 ; 
  color: black;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
.imp-inf{
  margin-right: 30px;
}

.carousel{
  transition: 0,1s;
  
}


.gift{
  width: 60%;
}

.cajita{
 
  border-radius:3px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 8px;
  padding-bottom:8px ;
  padding-left: 2px;
  padding-left: 4px;
}

.infop{
  text-align-last: center;
}
.data-container .btn {
  margin-left: 20px;
}


/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  
  }
  .main-header .row img{
    width: 120%;
  }
  .main-header .row{
    margin-bottom: 10px;
  }
  .banner {
    height: 320px;
  }
  .banner img{
    height: 100%;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }
  
  .main-navbar{
    margin-bottom: 10px;
  }


  .left-navbar a,
  .right-navbar a,
  .right-navbar button{
    border-bottom: none;
    font-size: 18px;
  }

  
  .left-navbar a:hover,
  .right-navbar a:hover {
    color: var(--light-blue);
  }

  .left-navbar li {
    margin-right: 15px;
    color: #fff;
        background-color:black;
        text-shadow: #fff 0 0 10px;
  }
  }

  .right-navbar li {
    margin-left: 15px;
    color: #fff;
        background-color:black;
        text-shadow: #fff 0 0 10px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }

   

   




